body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure body stretches to full height of viewport */
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1; /* Allow main content to take remaining space */
  padding: 20px; /* Add padding to the main content */
}

.my_ftr {
  height: 40px;
  background-color: black;
  color: white; /* Set text color to white for visibility */
  display: flex;
  justify-content: center; /* Center align content horizontally */
  align-items: center; /* Center align content vertically */
}

/* Sticky header */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the header is above other content */
}

/* Sticky footer */
.my_ftr {
  position: sticky;
  bottom: 0;
  z-index: 1000; /* Ensure the footer is above other content */
}

/* Pagination content styling */
.pagination-content {
  padding: 20px; /* Add padding to the pagination content */
}
